body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.right-align{
    position: absolute;
    right: 20px;
}

.clickable{
	cursor: pointer;
}

.error{
	color:red;
}