<!-- author: Jennifer Wu -->

<div>

	<h3>Common Application</h3>

	<form id="submit-common-form">
		{{> application this}}
		{{#if isInProgress}}
			<input type="submit" class="btn btn-primary"/>
		{{else}}
		{{/if}}
	</form>
	
</div>