<!DOCTYPE html>
<html>
  <head>
    <title>Cintern Common</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="/javascripts/handlebars.runtime-v4.0.2.js"></script>
    <script src="/javascripts/templates.js"></script>
    <script src="/javascripts/helpers.js"></script>
    <script src="/javascripts/commonLoads.js"></script>
    <script src="/javascripts/application.js"></script>
  </head>
  <body>
    <h1>Please fill out the common application</h1>
    <div id="user-id" data-user=<%= user %>></div>
    <div id="common-main-container"></div>

  </body>
</html>
