<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="/javascripts/handlebars.runtime-v4.0.2.js"></script>
    <script src="/javascripts/templates.js"></script>
    <script src="/javascripts/sListingsLoads.js"></script>
  </head>
  <body>
    <button id="logout-btn" class="btn btn-primary right-align">Logout</button>
    <div id="e-applicants-main-container"></div>
  </body>
</html>
