<!-- author: Maddie Dawson -->

<!DOCTYPE html>
<html>
  <head>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />

    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="/bower_components/moment/min/moment.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    
    <script src="/javascripts/handlebars.runtime-v4.0.2.js"></script>
    <script src="/javascripts/templates.js"></script>
    <script src="/javascripts/jquery.tablesorter.js"></script>
    <script src="/javascripts/helpers.js"></script>
    <script src="/javascripts/general.js"></script>
    <script src="/javascripts/eIndex.js"></script>
    <script src="/javascripts/ecreateListing.js"></script>
    <script src="/javascripts/filter.js"></script>
  </head>
  <body>
    <button id="logout-btn" class="btn btn-primary right-align">Logout</button>
    <div id="e-main-container"></div>
  </body>
</html>