<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/users.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    
   
	    <p>Enter your email and password to sign up for Cintern as a Student!.</p>
	    <form id="student-signup-form">
	    <div>Email: <input type="text" name="email" required /></div>
	    <div>Password: <input type="text" name="password" required /></div>
	    <br>
	    <input type="submit" value="Register" />
	 	</form>
 		
 		<p>Enter your email and password to sign up for Cintern as an Employer!.</p>
	    <form id="employer-signup-form">
	    <div>Email: <input type="text" name="email" required /></div>
	    <div>Password: <input type="text" name="password" required /></div>
	    <br>
	    <input type="submit" value="Register" />
	 	</form>
		
	 	<p>Returning User?</p>
	    <form id="login-form">
	    <div>Email: <input type="text" name="email" required /></div>
	    <div>Password: <input type="password" name="password" required /></div>
	    <br>
	    <input type="submit" value="Login" />
	    </form>
	   
  </body>
</html>
