<div>

  <a href="/" id="home-link">Back to Dash</a>

  <h1>Applicants</h1>
  
  <p>Currently {{applicants.length}} students have applied to this listing.</p>

  <table class="table table-hover table-condensed">
    
    <thead>
      {{#each headers as |h|}}
        <th>{{h}}</th>
      {{/each}}
    </thead>
    
    <tbody>
      {{#each applicants}}
        {{> applicant}}
      {{else}}
        <tr>
          <td>No applicants have applied yet.</td>
        </tr>
      {{/each}}
    </tbody>

  </table>

  <button id="delete-listing-btn" class="btn btn-primary" data-listing-id={{listingId}}>Delete Listing</button>
</div>
