<tr class="clickable applicant-row" data-applicant-id="{{owner}}" data-listing-id="{{listing}}">
  {{#each headers}}
    <td>{{getValue ../this this}}</td>
  {{/each}}
  <td>{{getValue submitTimes owner}}</td>
</tr>