<div class="e-applicant-row">
    <tr class="clickable applicant-row" data-applicant-id={{owner._id}} data-listing-id={{listing}}>
      {{#each commonInfo as |i|}}
        <td>{{i}}</td>
      {{/each}}
    </tr>
</div>
