<div class="e_applicants">
  <h1>Applicants</h1>
    <p>Currently {{applicants.length}} students have applied to this listing</p>

  <table style="width:90%">
    <tr>
      <th>Email</th>
    </tr>

    {{#each applicants}}
      {{> applicant}}
    {{else}}
      <p><em>No applicants have applied yet.</em></p>
    {{/each}}

  </table>
</div>
