<!-- author: Lynda Tang -->
<a href="/" id="home-link">Back to Dash</a>
  
<form id="create-listing">
	Create a listing here!
	
	<br>

	Position Title: <input type="text" name="title">
	
	<div>
		Description
		<br>
		<textarea 
			rows="8" 
			cols="50" 
			name="description" 
			form="create-listing" 
			placeholder="Enter description here..."></textarea>
	</div>

	<br>

	<div>
		Requirements
		<br>
		<textarea 
			rows="8" 
			cols="50" 
			name="requirements" 
			form="create-listing"
			placeholder="Enter requirements here..."></textarea>
	</div>

	<br>

	<div>
		Questions:
		<div id="question-list"></div>
		<button class="btn btn-primary" id="add-question">Add Question</button>
	</div>

	<br>

	<div>
		Deadline:
		<br>
		
	</div>

	<br>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
