<!-- author: Lynda Tang -->
<a href="/" id="home-link">Back to Dash</a>
  
<form id="create-listing">
	Create a listing here!
	
	<br>

	Position Title: <input type="text" name="title" required>
	
	<div>
		Description
		<br>
		<textarea 
			rows="8" 
			cols="50" 
			name="description" 
			form="create-listing" 
			placeholder="Enter description here..."></textarea>
	</div>

	<br>

	<div>
		Requirements
		<br>
		<textarea 
			rows="8" 
			cols="50" 
			name="requirements" 
			form="create-listing"
			placeholder="Enter requirements here..."></textarea>
	</div>

	<br>

	<div>
		Questions:
		<div id="question-list"></div>
		<div class="dropdown-hover">

		    <!-- trigger button -->
		    <button type="button" class="btn btn-primary">Add Question</button>

		    <!-- dropdown menu -->
		    <ul class="dropdown-menu">
		        <li class="clickable"><a id="add-text-question">Text Question</a></li>
		        <!-- <li class="clickable"><a id="add-dropdown-question">Dropdown Question</a></li> -->
		        <li class="clickable"><a id="add-radio-question">Yes or No Question</a></li>
		    </ul>
		</div>
	</div>

	<br>
	<button type="submit" class="btn btn-primary">Submit</button>

</form>
