<!-- author: Maddie Dawson -->

<div>

  <h1>Welcome!</h1>

  <button class="btn btn-primary right-align" data-toggle="modal" data-target="#new-listing-modal">
    Create New Listing
  </button>
  
  <!-- New Listing Modal -->
  <div class="modal" id="new-listing-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Create New Listing</h4>
        </div>
        <div class="modal-body" id="new-listing-modal-content"></div>
      </div>
    </div>
  </div>

  Here are your listings:

  <br>
  <br>

  <table class="table table-hover table-condensed">

    <thead>
  	  <th>Title</th>
      <th>Number of applicants</th>
      <th>Deadline</th>
  	</thead>

    <tbody>
      {{#each listings as |l|}}
        {{> e_dash_page_listing listing=l listingid=l._id map=../map}}
      {{else}}
        <tr>
        	<td>No listings yet!</td>
        </tr>
      {{/each}}
    </tbody>
  
  </table>
</div>