<!--poor solution to get out of page-->
<a href='/employers'>Back to Dash</a>
<div id="full-app">
	<h3>Common Application</h3>
	{{> application common isSubmitted=isSubmitted}}
	<h3>Custom Application</h3>
	{{> application custom isSubmitted=isSubmitted}}
</div>