<div id="homepage">
  <h1>Cintern!</h1>
  <p>You must be signed in to continue.</p>
  <br>
  <button class="btn btn-primary" id="signin-btn">Sign in</button>
  <button class="btn btn-primary" id="employer-register-btn">Sign Up as Student</button>
  <button class="btn btn-primary" id="student-register-btn">Sign Up as Employer</button>
</div>
