<div id="homepage">
  <h1>Cintern!</h1>
  <p>You must be signed in to continue.</p>
  <br>
  <button class="btn btn-primary" id="login-btn">Login</button>
  <button class="btn btn-primary" id="s-signup-btn">Sign Up as Student</button>
  <button class="btn btn-primary" id="e-signup-btn">Sign Up as Employer</button>
</div>
