<div id="signin">
  <div class="error">
    {{#if error}}
      {{error}}
    {{/if}}
  </div>
  <br>
  
  <form id="login-form" class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-xs-2">Email:</label>
      <div class="col-xs-6">
        <input class="form-control" type="text" name="email" required placeholder="Email"/>
      </div>
    </div>
    <div class = "form-group">
      <label class="control-label col-xs-2">Password:</label>
      <div class="col-xs-6">
        <input class="form-control" type="password" name="password" required placeholder="Password"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-offset-2 col-xs-6">
        <input class="btn btn-primary" type="submit" />
      </div>
    </div> 
  </form>
</div>
