<div class="question">
	<label class="control-label">{{question}}</label>
	<input 
		{{#if isSubmitted}}
			disabled 
		{{else}}
		{{/if}}
		class="form-control" type="text" value="{{answer}}" name="{{_id}}" 
	/>
</div>