<!-- author: Jennifer Wu -->

<div>

<a href='/students'>Back to Dash</a>

<h1>Custom Application</h1>

<br>

<label>Position Title: </label> {{title}}

<br>
<br>

<h3>Application</h3>

{{> application this}}

</div>