<!-- author: Maddie Dawson -->

<div>
  <h1>Welcome!</h1>
  You currently have {{apps.length}} applications.

  <br>
  <br>
  
  {{> filter_bar}}
  
  <table class="table table-hover table-condensed">
  	
    <thead>
  	  <th>Company</th>
  	  <th>Title</th>
      <th>Deadline</th>
      <th>Submitted Date</th>
  	  <th>Status</th>
  	</thead>

    <tbody class="searchable">
      {{#each apps}}
        {{> s_dash_page_app this }} 
        
      {{else}}
        <tr>
        	<td>No applications yet!</td>
        </tr>
      {{/each}}
    </tbody>
  
  </table>
</div>