<!-- author: Maddie Dawson -->

<div>
  <h1>Welcome!</h1>
  Here are your applications:

  <br>
  <br>
  
  <table class="table table-hover table-condensed">
  	
    <thead>
  	  <th>Company</th>
  	  <th>Title</th>
  	  <th>Status</th>
  	</thead>

    <tbody>
      {{#each apps as |a|}}
        {{> s_dash_page_app 
        company=a.listing.employer.company 
        title=a.listing.title 
        state=a.state
        listingid=a.listing._id}}
      {{else}}
        <tr>
        	<td>No applications yet!</td>
        </tr>
      {{/each}}
    </tbody>
  
  </table>
</div>