<!-- author: Maddie Dawson -->

<div>
  <button class="btn btn-primary" id="s-view-listings">View Listings</button>
  
  <h1>Welcome!</h1>
  Here are your applications:

  <br>
  <br>
  
  <table class="table table-hover table-condensed">
  	
    <thead>
  	  <th>Company</th>
  	  <th>Title</th>
  	  <th>Status</th>
  	</thead>

    <tbody>
      {{#each apps}}
        {{> s_dash_page_app this }} 
      {{else}}
        <tr>
        	<td>No applications yet!</td>
        </tr>
      {{/each}}
    </tbody>
  
  </table>
</div>