<!-- author: Maddie Dawson -->

<div>
  <h1>Welcome!</h1>
  Here are your applications:

  <br>
  <br>
  
  <table class="table table-hover table-condensed">
  	
    <thead>
  	  <th>Company</th>
  	  <th>Title</th>
  	  <th>Status</th>
  	</thead>

    <tbody>
      {{#each apps}}
<<<<<<< HEAD
        {{> s_dash_page_app }} 
=======
        {{> s_dash_page_app this }} 
   
>>>>>>> c7eb687eb6027e78339a43ccb1e3718dd4cd296e
      {{else}}
        <tr>
        	<td>No applications yet!</td>
        </tr>
      {{/each}}
    </tbody>
  
  </table>
</div>