<div id="student-dash">
  <h1>Welcome!</h1>
  Here are your applications:

  <br>
  <br>
  
  <table class="table table-hover table-condensed">
  	<tr>
  	  <th>Company</th>
  	  <th>Title</th>
  	  <th>Status</th>
  	</tr>

    {{#each apps as |a|}}
      {{> s_dash_page_app company=a.listing.employerId.company title=a.listing.title state=a.state}}
    {{else}}
      <tr>
      	<td>No applications yet!</td>
      </tr>
    {{/each}}
  </table>
</div>