<!-- author: Maddie Dawson -->

<div class="student-dash-app">
  <tr class="clickable student-custom" data-listing-id={{listingid}}>
  	<td>{{company}}</td>
  	<td>{{title}}</td>
  	<td>{{interpretState state}}</td>
  </tr>
</div>